@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
* {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #999999;
}

.navbar {
  position: sticky;
  top: 0;
  min-width: 100%;
}

.navbar-custom {
  background-color: #c5c5cd;
}

h2 {
  color: #999999;
}
h2-brand {
  color: #b1b1b1;
}

.subtitle {
  margin-top: 5vh;
  margin-inline: 2vw;
}

p {
  color: #7f7f7f;
  margin-top: 5vh;
  padding-inline: 5vw;
  max-width: 100%;
}

body {
  background-color: #47475E;
}

.carousel {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 60vh;
}

#carousel-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #2d2b30;
}

::-webkit-scrollbar-thumb {
  background: rgb(47, 63, 74);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(57, 77, 90);
}

.gallery {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: repeat(8, 200px);
  grid-gap: 20px;
  padding: 20px;
}

.item1 {
  background-image: url("../assets/gallery/imangen0.jpg");
}

.item2 {
  background-image: url("../assets/gallery/imangen1.jpg");
}

.item3 {
  background-image: url("../assets/gallery/imangen2.jpg");
}

.item4 {
  background-image: url("../assets/gallery/imangen3.jpg");
}

.item5 {
  background-image: url("../assets/gallery/imangen4.jpg");
}

.item6 {
  background-image: url("../assets/gallery/imangen5.jpg");
}

.item7 {
  background-image: url("../assets/gallery/imangen6.jpg");
}

.item8 {
  background-image: url("../assets/gallery/imangen7.jpg");
}

.item9 {
  background-image: url("../assets/gallery/imangen8.jpg");
}

.item10 {
  background-image: url("../assets/gallery/imangen9.jpg");
}

.item11 {
  background-image: url("../assets/gallery/imangen10.jpg");
}

.item12 {
  background-image: url("../assets/gallery/imangen11.jpg");
}

.item13 {
  background-image: url("../assets/gallery/imangen12.jpg");
}

.item14 {
  background-image: url("../assets/gallery/imangen13.jpg");
}

.item15 {
  background-image: url("../assets/gallery/imangen14.jpg");
}

.item16 {
  background-image: url("../assets/gallery/imangen15.jpg");
}

.item17 {
  background-image: url("../assets/gallery/imangen16.jpg");
}

.item18 {
  background-image: url("../assets/gallery/imangen17.jpg");
}

.item19 {
  background-image: url("../assets/gallery/imangen18.jpg");
}

.item20 {
  background-image: url("../assets/gallery/imangen20.jpg");
}

.item21 {
  background-image: url("../assets/gallery/imangen21.jpg");
}

.item22 {
  background-image: url("../assets/gallery/imangen22.jpg");
}

.item23 {
  background-image: url("../assets/gallery/imangen23.jpg");
}

.item24 {
  background-image: url("../assets/gallery/imangen24.jpg");
}

.item25 {
  background-image: url("../assets/gallery/imangen25.jpg");
}

.item26 {
  background-image: url("../assets/gallery/imangen26.jpg");
}

.item27 {
  background-image: url("../assets/gallery/imangen27.jpg");
}

.item28 {
  background-image: url("../assets/gallery/imangen28.jpg");
}

.item29 {
  background-image: url("../assets/gallery/imangen29.jpg");
}

.item30 {
  background-image: url("../assets/gallery/imangen30.jpg");
}

.item31 {
  background-image: url("../assets/gallery/imangen31.jpg");
}

.item32 {
  background-image: url("../assets/gallery/imangen32.jpg");
}

.item33 {
  background-image: url("../assets/gallery/imangen33.jpg");
}

.item34 {
  background-image: url("../assets/gallery/imangen34.jpg");
}

.item35 {
  background-image: url("../assets/gallery/imangen19.jpg");
}

.item {
  background-size: cover;
  background-position: center;
}

.card-description {
  background-color: #161633;
  display: flex;
  margin: 20px;
  padding: 15px;
  border-radius: 25px;
}
.card-description p {
  color: #7f7f7f;
  margin-top: 5vh;
  padding-inline: 2vw;
  max-width: 90%;
}
.card-description .cardimg {
  background-size: cover;
  background-position: 40%;
  background-repeat: no-repeat;
  margin-inline: 10px;
  border-radius: 10px;
  width: 100%;
  min-height: 220px;
}

.cardimgext {
  display: none;
  background-size: cover;
  background-position: 40%;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 95%;
  height: 180px;
  margin: 20px;
}

.row-bien {
  flex-direction: row;
}

.row-alreves {
  flex-direction: row-reverse;
}

#img0 {
  background-image: url(../assets/gallery/imangen2.jpg);
}

#img1 {
  background-image: url(../assets/gallery/imangen4.jpg);
}

#img2 {
  background-image: url(../assets/gallery/imangen6.jpg);
}

#img3 {
  background-image: url(../assets/gallery/imangen8.jpg);
}

#img4 {
  background-image: url(../assets/gallery/imangen14.jpg);
}

#img5 {
  background-image: url(../gallery/imangen16.jpg);
}

.youtube {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.youtube iframe {
  margin: 40px;
}

.instagram {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.xtwitter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

@media only screen and (max-width: 1000px) {
  * {
    font-size: 24px;
  }
  .cardimg {
    display: none;
  }
  .cardimgext {
    display: block;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(18, 200px);
  }
}
@media only screen and (max-width: 700px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(35, 200px);
  }
}/*# sourceMappingURL=styles.css.map */