@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2d2b30;
}

h2 {
    color: #999999;
}

.navbar-brand {
    color: #b1b1b1;
}

.subtitle {
    margin-top: 5vh;
    margin-inline: 2vw;
}

p {
    color: #7f7f7f;
    margin-top: 5vh;
    margin-inline: 2vw;
}

.carousel-item {
    height: 70vh;
    width: 60vw;
    object-fit: fill;
}

#carouselExample {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

.col {
    color: #b1b1b1;
    display: flex;
    justify-content: center;
    width: 30vw;
    padding-block: 10px;
    padding-inline: 20px;
    border: solid 1px #7f7f7f;
    border-radius: 5px;
    margin: 2px;
}

img {
    object-fit: fill;
    width: 27vw;
    height: auto;
}
