@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: #2d2b30;
}

h2 {
    color: #999999;
}

.navbar-brand {
    color: #b1b1b1;
}

.subtitle {
    margin-top: 5vh;
    margin-inline: 2vw;
}

p {
    color: #7f7f7f;
    margin-top: 5vh;
    margin-inline: 2vw;
}

img {
    height: 70vh;
    width: 90vw;
}

.carousel {
    margin: 20px;
    width: 90vw;
    height: 70vh;
}

.carousel-inner {
    height: 70vh;
    width: 90vw;
}
